.wrapper {
    width: 100px;
    margin: 0;
    border: 50px;
    padding: 100px;
}

.body {
    width: 400px;
    height: 500px;
    border-radius: 50% 50% 40% 40%;
    background-color:blue;
    position: relative;
    top: 10px;
    left: 450px;
}

.belly {
    width:286px;
    height: 370px;
    border-radius: 50% 50% 40% 40%;
    background-color:rgb(207, 195, 195);
    position: relative;
    top: 100px;
    left: 55px;
}

.left-arm {
   width: 80px;
   height: 300px;
   border-radius: 75% 45% 45% 45%;
   background-color: blue;
   transform: rotate(45deg);
   position: relative;
   bottom: 400px;
   left: 0px;
}

.right-arm {
   width: 80px;
   height: 300px;
   border-radius: 45% 75% 45% 45%;
   background-color: blue;
   transform: rotate(315deg);
   position: relative;
   bottom: 760px;
   left: 320px;
}

.left-foot {
    width: 120px;
    height: 60px;
    border-radius: 75% 45% 45% 45%;
    background-color: rgb(207, 195, 195);
    position: relative;
    bottom: 20px;
    left: 480px;
}


.right-foot {
    width: 120px;
    height: 60px;
    border-radius: 45% 75% 45% 45%;
    background-color: rgb(207, 195, 195);
    position: relative;
    bottom: 98px;
    left: 710px;
}

.head {
    width: 220px;
    height: 200px;
    border-radius: 45%;
    background-color: blue;
    position: relative;
    bottom: 700px;
    left: 540px;
}

.face {
    width: 180px;
    height: 180px;
    border-radius: 45%;
    background-color:rgb(207, 195, 195);
    position: relative;
    top: 30px;
    left: 20px;
}

.mouth {
  width: 70px;
  height: 30px;
  border: 2px solid black;
  border-color: transparent transparent black transparent;
  position: relative;
  top: 30px;
  left: 55px;
}

#tooth1 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    position: relative;
    top: 20px;
    left: 65px;
}

#peak {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid blue;
    position: relative;
    bottom: 10px;
    left: 40px;
}

.left-eye {
    width: 45px;
    height: 30px;
    border: 2px solid black;
    border-color: transparent transparent black transparent;
    position: relative;
    bottom: 60px;
    left: 30px;
}

.right-eye {
    width: 45px;
    height: 30px;
    border: 2px solid black;
    border-color: transparent transparent black transparent;
    position: relative;
    bottom: 94px;
    left: 100px;
}

.left-ear {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid blue;
    transform: rotate(320deg);
    position: relative;
    bottom: 200px;
    right: 20px;
}

.right-ear {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid blue;
    transform: rotate(40deg);
    position: relative;
    bottom: 260px;
    left: 160px;
}

#toe1 {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid black;
    position: relative;
    bottom: 37px;
    left: 475px;
}

#toe2 {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid black;
    transform: rotate(355deg);
    position: relative;
    bottom: 37px;
    left:500px;
}

#toe3 {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid black;
    position: relative;
    bottom: 118px;
    left: 820px; 
}

#toe4 {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid black;
    transform: rotate(5deg);
    position: relative;
    bottom: 120px;
    left:800px;
}

#finger1 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 30px solid black;
    transform: rotate(225deg);
    position: relative;
    bottom: 445px;
    right: 70px;
}

#finger2 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 30px solid black;
    transform: rotate(225deg);
    position: relative;
    bottom: 487px;
    right: 84px;
}

#finger3 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 30px solid black;
    transform: rotate(135deg);
    position: relative;
    bottom: 805px;
    left: 458px;
}

#finger4 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 30px solid black;
    transform: rotate(135deg);
    position: relative;
    bottom: 846px;
    left: 471px;
}